{{!-- <h1>{{appTitle}} 🚀</h1>
<p>TU PAGINA DE DESCUENTOS FAV</p> --}}

<div class="cntr gradient-custom">
    <div class="cntr-innr">
        <label class="search" for="inpt_search">
            <input id="inpt_search" type="text" />
        </label>
    </div>
</div>