<div class="cntr index">
    <div class="cntr-innr">
        <form action="/game/get/title" method="action">
            <label class="search" for="inpt_search">
                <input id="inpt_search" placeholder="Busca tu ganga" type="text" name="title" />
            </label>
        </form>
        <p>Busca tu juego aquí!🚀</p>

    </div>
</div>