<div class="cntr index">
    <div class="cntr-innr">
        <label class="search" for="inpt_search">
            <input id="inpt_search" type="text" />
            <p>Busca tu juego aquí!🚀</p>
        </label>
    </div>
</div>