<h2>Update the drone</h2>

<form action="/user/profile/edit/{{_id}}" method="post">
    <label for="">name</label>
    <input type="text" name="username" value="{{username}}">

    <label for="">Email</label>
    <input type="email" name="email" value="{{email}}">

    <label for="">Password</label>
    <input type="password" name="password" value="{{password}}">

    <button type="submit">Update</button>
</form>