<h1>crear usuario</h1>

<form action="/user/usercreate" method="post">
    <label for="">name</label>
    <input type="text" name="username">

    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Registro</button>
</form>