<form action="/user/create-game" method="post">
    <label for="">Title</label>
    <input type="text" name="title" id="">
    <label for="">Price</label>
    <input type="text" name="price" id="">
    <label for="">Url Imagen</label>
    <input type="text" name="img" id="">
    <button type="submit">Crear juego</button>
</form>